<div class="comment_area mb-30 clearfix" *ngIf=" comments_song != null">
  <h5 class="title">Có {{comments_song.length}} nhát Chém</h5>
  <ol>
    <!-- Single Comment Area -->
    <li class="single_comment_area">
      <!-- Comment Content -->
      <div class="comment-content d-flex" *ngFor="let comment of comments_song | paginate:{
      id: 'comment-list',
      itemsPerPage: 4,
      currentPage: page
      }">
        <!-- Comment Author -->
        <div class="comment-author">
          <img src="{{comment.avatarUrl}}" alt="author">
        </div>
        <!-- Comment Meta -->
        <div class="comment-meta">
          <p class="post-date">{{comment.commentTime | date}}</p>
          <h4>{{comment.fullName}}</h4>
          <p>{{comment.content}}</p>
        </div>
      </div>
      <div class="row">
        <div class="mx-auto">
          <pagination-controls  id="comment-list" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </li>
  </ol>
</div>

 <!-- Leave A Reply -->
<div class="contact-form">
  <h2 class="mb-30" style="font-style: italic">Ngon thì chém một phát rồi đi</h2>
  <div *ngIf="user_id > 0">
    <form method="post" [formGroup]="commentForm" (ngSubmit)="addComment()">
      <div class="row">
        <div class="col-12">
          <textarea formControlName="content" class="form-control mb-10" placeholder="Thêm bình luận..."></textarea>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-success mt-30">Chém </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="user_id < 1" >
        <h3 style="padding-left: 200px">Nhưng vui lòng đăng nhập trước rồi mới chém</h3>
    <div style="padding-left: 300px">
      <button class="btn btn-success mt-30" routerLink="/login">Đăng nhập</button>
    </div>

  </div>
</div>
