<div style="margin-top: 50px"></div>

<section class="poca-latest-epiosodes section-padding-80">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h1>Âm nhạc của bạn</h1>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Projects Menu -->
  <div class="container">
    <div class="poca-projects-menu mb-30 wow fadeInUp" data-wow-delay="0.3s">
      <div class="text-center portfolio-menu">
<!--        <button class="btn active" data-filter="*">All</button>-->
        <button class="btn"  data-filter=".entre" (click)="show()">Bài hát</button>
        <button class="btn" data-filter=".media" (click)="show()">Playlist</button>
<!--        <button class="btn" data-filter=".tech">Tech</button>-->
<!--        <button class="btn" data-filter=".tutor">Tutorials</button>-->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row poca-portfolio">

      <!-- Single gallery Item -->
      <div class=" single_gallery_item entre wow fadeInUp" data-wow-delay="0.2s" *ngIf="isShowSongs">
        <!-- Welcome Music Area -->
        <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
        <app-view-song-by-user></app-view-song-by-user>
        </div>
      </div>


      <!-- Single gallery Item -->
      <div class=" single_gallery_item media wow fadeInUp" data-wow-delay="0.2s" *ngIf="!isShowSongs">
        <!-- Welcome Music Area -->
        <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
        <app-user-playlist></app-user-playlist>
        </div>
      </div>

    </div>
  </div>

</section>
