<div class="welcome-welcome-slide bg-img bg-overlay" style=" height: 800px;background-image: url(https://us.123rf.com/450wm/avectors/avectors1809/avectors180900172/110096523-sound-radio-wave-background-of-music-song-or-soundtrack-loud-light-equalizer-diagram-vector-neon-lig.jpg?ver=6);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <!-- Welcome Text -->
        <div class="welcome-text">
          <h2 data-animation="fadeInUp" data-delay="100ms">Bài Hát Tiêu Biểu</h2>
        </div>
        <!-- Welcome Music Area -->
        <div class="poca-music-area mt-100 d-flex align-items-center flex-wrap" data-animation="fadeInUp" data-delay="900ms">
          <div class="poca-music-thumbnail">
            <img [src]="song.imageUrl" alt="">
          </div>
          <div class="poca-music-content">
            <span class="music-published-date">{{postTime}}</span>
            <h2 id="songName">{{song.name | uppercase}}</h2>
            <div class="music-meta-data">
              <p>By {{song.userCreate}} | <a href="#" class="music-catagory">Nhạc Trẻ</a> | <a href="#" class="music-duration"><span id="songDuration"></span></a></p>
            </div>
            <!-- Music Player -->
            <div class="poca-music-player">
              <audio id="myAudio" preload="auto" controls>
                <source id="songUrl" [src]="song.fileUrl">
              </audio>
            </div>

            <!-- Likes, Share & Download -->
            <div class="likes-share-download d-flex align-items-center justify-content-between">
              <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
              <div>
                <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

