<div  style="text-align: left">
  <div style="width: 900px; padding-top: 170px; padding-left: 350px; display: inline-block;font-size: 16px">
    <form (ngSubmit)="submit()" [formGroup]="createSongForm" >
      <div class="form-group">
        <label for="exampleInputSong1">Tên bài hát</label>
        <input type="text" class="form-control" id="exampleInputSong1" formControlName="name" >
      </div>
      <div>
        <label for="exampleInputCategory1">Thể loại:</label>
        <input type="text" class="form-control" id="exampleInputCategory1" formControlName="category" >
      </div>
      <div class="form-group">
        <div>
          <label>Lời ca khúc:</label>
        </div>
        <br>
        <div>
          <ckeditor [editor]="Editor" [config]="ckconfig" formControlName="lyric"  data="<p>...</p>"></ckeditor>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Chọn nhạc sỹ :</label>
        <app-add-author (authorNames)="findAuthors($event)"></app-add-author>
        <div class="form-group">
          <select multiple class="form-control" id="exampleFormControlSelect3"   [ngModelOptions]="{standalone: true}" [(ngModel)]="authorsSelected" >
            <option *ngFor="let author of authorsFilter" value="{{author.id}}">{{author.fullName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Chọn ca sỹ thể hiện bài hát :</label>
        <app-add-singer (singerNames)="findSingers($event)"></app-add-singer>
        <div class="form-group">
            <select multiple class="form-control" id="exampleFormControlSelect2"   [ngModelOptions]="{standalone: true}" [(ngModel)]="singersSelected" >
              <option *ngFor="let singer of singersFilter" value="{{singer.id}}">{{singer.fullName}}</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label>Mô tả :</label>
        </div>
        <div>
          <ckeditor [editor]="Editor" [config]="ckconfig" formControlName="description"  data="<p>Hello, world!</p>"></ckeditor>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Tải file Mp3</label>
        <table>
          <tr>
            <td><input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="createSong($event)"></td>
            <td>
                <i *ngIf="song.fileUrl.length > 10" style="font-size: 20px" class="fa fa-check"></i>
            </td>
          </tr>
        </table>

      </div>
      <div class="form-group">
        <label for="exampleFormControlFile2">Tải ảnh đại diện ca khúc:</label>
        <table>
          <tr>
            <td><input type="file" class="form-control-file" id="exampleFormControlFile2" (change)="createImage($event)"></td>
            <td>
                <i *ngIf="song.imageUrl.length > 10" style="font-size: 20px" class="fa fa-check"></i>
            </td>
          </tr>
        </table>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

</div>
