<div  style="text-align: center; margin-bottom: 100px">
  <div style="width: 700px; padding-top: 100px; padding-left: 50px; display: inline-block;font-size: 16px;;">
    <form (ngSubmit)="submit()" [formGroup]="editSongForm" style="float: contour">
      <input type="hidden" formControlName="id" value="{{song.id}}">
      <div class="form-group">
        <label for="exampleInputSong1">Tên bài hát :</label>
        <input type="text" class="form-control" id="exampleInputSong1" formControlName="name" >
      </div>
      <div class="form-group">
        <label for="category">Thể loại:</label>
        <select id="category" class="form-control" formControlName="category">
          <option value="nhạc trẻ">Nhạc trẻ</option>
          <option value="nhạc già">Nhạc già</option>
          <option value="nhạc âm phủ">Nhạc âm phủ</option>
          <option value="nhạc hiếu">Nhạc hiếu</option>
          <option value="nhạc không lời">Nhạc không lời</option>
        </select>
      </div>
      <div class="form-group">
        <div>
          <label>Lời ca khúc:</label>
        </div>
        <div>
          <ckeditor [editor]="Editor" [config]="ckconfig" formControlName="lyric" data="<p>...</p>"></ckeditor>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Chọn nhạc sỹ :</label>
        <app-add-author (authorNames)="findAuthors($event)"></app-add-author>
        <div class="form-group">
          <select multiple class="form-control" id="exampleFormControlSelect3"   [ngModelOptions]="{standalone: true}" [(ngModel)]="authors" >
            <option *ngFor="let author of authorsFilter" value="{{author.id}}">{{author.fullName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Chọn ca sỹ thể hiện bài hát</label>
        <app-add-singer (singerNames)="findSingers($event)" (change)="findSingers($event)"></app-add-singer>
        <div class="form-group">
          <select multiple class="form-control" id="exampleFormControlSelect2"   [ngModelOptions]="{standalone: true}" [(ngModel)]="singers" >
            <option *ngFor="let singer of singersFilter" value="{{singer.id}}">{{singer.fullName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label>Mô tả :</label>
        </div>
        <div>
          <ckeditor [editor]="Editor" [config]="ckconfig" formControlName="description"  data="<p>Hello, world!</p>"></ckeditor>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">File bài hát :</label>
        <table>
          <tr>
            <td><input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="updateSong($event)"></td>
            <td>
              <i *ngIf="songUrl.length > 10" style="font-size: 20px" class="fa fa-check"></i>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile2">Ảnh nền bài hát :</label>
        <table>
          <tr>
            <td><input type="file" class="form-control-file" id="exampleFormControlFile2" (change)="updateImage($event)"></td>
            <td>
              <i *ngIf="songUrl.length > 10" style="font-size: 20px" class="fa fa-check"></i>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group">

      </div>
      <div style="padding-top: 50px; float: left">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>

  </div>

</div>
