<header class="header-area" style="background: black">
  <!-- Main Header Start -->
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <!-- Classy Menu -->
      <nav class="classy-navbar justify-content-between" id="pocaNav">

        <!-- Logo -->
        <a class="nav-brand" href="index.html"><img src="./src/assets/static/img/core-img/logo.png" alt=""></a>

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">

          <!-- Menu Close Button -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>

          <!-- Nav Start -->
          <div class="classynav">
            <ul id="nav">
              <li class="current-item"><a routerLink="/">Trang chủ</a></li>
              <li><a routerLink="">Bài Hát Mới Nhất</a></li>
              <li><a routerLink="/top">Bảng Xếp Hạng</a></li>
              <li><a routerLink="/playlist/all">Playlist</a></li>
            </ul>

            <!-- Top Search Area -->
<!--            <div class="top-search-area">-->
<!--              <form formGroup="search">-->
<!--                <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">-->
<!--                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>-->
<!--              </form>-->
<!--              <i class="fa fa-upload" aria-hidden="true"></i>-->
<!--            </div>-->
            <app-search-song-form></app-search-song-form>
            <div class="top-input-area">
              <i class="fa fa-user" style="font-size: 18px" aria-hidden="true" ngbPopover="Tạo ca / nhạc sỹ mới"
                 [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave"   routerLink="/artist/create"></i>
            </div>
            <div class="top-input-area">
              <i class="fa fa-music" style="font-size: 18px" aria-hidden="true" ngbPopover="Tạo bài hát"
                 [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave"   routerLink="/song/create"></i>
            </div>
            <div class="top-input-area">
              <i class="fa fa-list-alt" style="font-size: 18px" aria-hidden="true" ngbPopover="Tạo playlist"
                 [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave" routerLink="/playlist/create"></i>
            </div>
            <!-- Top Social Area -->
            <div class="top-social-area" *ngIf="!showName">
              <input type="hidden" />
              <i class="fa fa-user" style="color: white; cursor: pointer" routerLink="/login">Login</i>
            </div>
            <div *ngIf="showName">
              <div class="container">
                <div class="dropdown">
                  <i class="dropbtn">Hello! {{firstName}} {{lastName}}</i>
                  <div class="dropdown-content">
                    <a [routerLink]="'/user/' +userId+ '/profile'">Profile</a>
                    <a routerLink="/user/music">Nhạc cá nhân</a>
                    <a routerLink="/password/update">Đổi mật khẩu</a>
                    <a class="btn btn-danger" (click)="logOut()">Log Out</a>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!-- Nav End -->
        </div>
      </nav>
    </div>
  </div>
</header>

