<div style="background-image: url(https://wallpapercave.com/wp/wp3085127.jpg)">
  <section class="poca-latest-epiosodes section-padding-80">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2 style="color: white">Các Bài Hát Mới Nhất</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row poca-portfolio">
        <!-- Single gallery Item -->
        <div *ngFor="let song of songs">
          <div class="col-12 col-md-6 single_gallery_item entre wow fadeInUp" data-wow-delay="0.1s" style=" padding-left: 40px">
            <!-- Welcome Music Area -->
            <div class="poca-music-area style-2 d-flex align-items-center flex-wrap" style="width: 500px">
              <div class="poca-music-content text-center">
                <span class="music-published-date mb-2">{{getPostTimeToString(song.postTime)}}</span>
                <h2><a routerLink="song/{{song.id}}/detail" style="color: black; font-size: 20px">{{song.name}}</a></h2>
                <div class="music-meta-data">
                  <p><a href="#" class="music-catagory">Nhạc Trẻ</a> | <a href="#" class="music-duration">{{getArtist(song)}}</a></p>
                </div>
                <!-- Music Player -->
                <div class="poca-music-player">
                  <audio preload="auto" controls>
                    <source [src]="song.fileUrl">
                  </audio>
                </div>
                <!-- Likes, Share & Download -->
                <div class="likes-share-download d-flex align-items-center justify-content-between">
                  <button (click)="likeSong(song.id)"><i class="fa fa-heart" aria-hidden="true"></i><p [id]="'like'+song.id">Like ({{song.review.likes}})</p></button>
                  <div>
                    <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Views ({{song.review.views}})</a>
                    <a (click)="addToTrack(song)"><span class="glyphicon glyphicon-music"></span>Thêm vào danh sách phát</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
      </div>
    </div>
  </section>
</div>
