<div style="margin-top: 150px;padding-bottom: 120px;" ></div>
<div>
<div class="container">
  <div class="row poca-portfolio">
    <!-- Single gallery Item -->
    <ng-container *ngFor="let song of songList">
      <ng-container class="col-12 col-md-6 single_gallery_item entre wow fadeInUp" data-wow-delay="0.1s" style=" padding-left: 40px">
        <!-- Welcome Music Area -->
        <div class="poca-music-area style-2 d-flex align-items-center flex-wrap" style="width: 500px">
          <div class="poca-music-content text-center">
            <span class="music-published-date mb-2">{{convertTime(song.postTime)}}</span>
            <h2><a  [routerLink]="'../../song/'+song.id+'/detail'" style="color: black; font-size: 20px">{{song.name}}</a></h2>
            <div class="music-meta-data">
              <p>By <a href="#" class="music-author"></a> | <a href="#" class="music-catagory">Nhạc Trẻ</a> | <a href="#" class="music-duration">Tên ca sĩ</a></p>
            </div>
            <!-- Music Player -->
            <div class="poca-music-player">
              <audio preload="auto" controls>
                <source [src]="song.fileUrl">
              </audio>
            </div>
            <!-- Likes, Share & Download -->
            <div class="likes-share-download d-flex align-items-center justify-content-between">
              <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
              <div>
                <a [routerLink]="'../../song/'+song.id+'/edit'" class="mr-4"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
                <a id = "delete"(click)="delete(song.id)" style="cursor: pointer"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
</div>
