<section class="poca-latest-epiosodes section-padding-20">
<div class="container">
  <div class="row poca-portfolio">

    <!-- Single gallery Item -->
    <div class="col-4 cols-md-4 single_gallery_item entre wow fadeInUp" data-wow-delay="0.2s" *ngFor="let pl of playlists">
      <!-- Welcome Music Area -->
      <div class="poca-music-area style-2 d-flex align-items-center flex-wrap" *ngIf="pl != null">
        <div class="poca-music-thumbnail">
          <img [src]="pl.imgUrl" alt="">
        </div>
        <div class="poca-music-content text-center">
          <h2><a [routerLink]="'/playlist/'+pl.id+'/detail'">{{pl.title}}</a></h2>
          <div class="music-meta-data">
            <p>By <a href="#" class="music-author">Create by {{pl.userCreate}}</a> | <a href="#" class="music-catagory">Thể loại</a>
          </div>
          <!-- Music Player -->

          <!-- Likes, Share & Download -->
          <div class="likes-share-download d-flex align-items-center justify-content-between">
            <button (click)="likePlaylist(pl.id)"><i class="fa fa-heart" aria-hidden="true"></i><p [id]="'like'+pl.id">Like ({{pl.review.likes}})</p></button>
            <div>
              <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Views ({{pl.review.views}})</a>
<!--              <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(66)</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
