
<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Đăng ký thành viên</h2>
        <form method="post" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <input class="input--style-3" type="email" formControlName="email" placeholder="info@example.com">
          </div>
          <div class="alert alert-danger" role="alert" style="top: -15px" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
            Email chưa hợp lệ
          </div>
          <div class="input-group">
            <input class="input--style-3 js-datepicker" type="text" formControlName="firstName" placeholder="Tên">
          </div>
          <div class="alert alert-danger" style="top: -15px" role="alert" *ngIf="registerForm.get('firstName').invalid && registerForm.get('firstName').touched">
            Vui lòng nhập đủ thông tin
          </div>
          <div class="input-group">
            <input class="input--style-3 js-datepicker" type="text" formControlName="lastName" placeholder="Họ">
          </div>
          <div class="alert alert-danger" role="alert" style="top: -15px" *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').touched">
            Vui lòng nhập đủ thông tin
          </div>
          <fieldset formGroupName="pwGroup">
            <div class="input-group">
              <input class="input--style-3" type="password" placeholder="Mật khẩu" formControlName="password">
            </div>
            <div class="alert alert-danger" role="alert" style="top: -15px" *ngIf="registerForm.get('pwGroup').get('password').invalid && registerForm.get('pwGroup').get('password').touched">
              Mật khẩu ít nhất 6 ký tự!
            </div>
            <div class="input-group">
              <input class="input--style-3" type="password" placeholder="Nhập lại mật khẩu" formControlName="confirmPassword">
            </div>
          </fieldset>
          <div class="alert alert-danger" role="alert" style="top: -15px"
               *ngIf="registerForm.hasError('passwordnotmatch', ['pwGroup']) && registerForm.get('pwGroup').touched">
            Mật khẩu chưa trùng khớp!
          </div>
          <div class="p-t-10">
            <button class="btn btn--pill btn--green" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


